amplify-button button {
  background-color: orange;
  color: white;
  border: none;
  padding: 8px 10px;
  cursor: pointer;
  transition: background-color 100ms ease-in-out;
  -webkit-transition: background-color 100ms ease-in-out;
}

amplify-button button:hover {
  background-color: #bd7c05;
}
